<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<p>User: <span th:text="${name}"></span></p>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div sec:authentication="name">

</div>
<div>
    <form action="#" th:action="@{/acceptFormInput?id=} + ${id}" th:object="${form}" method="post">

        <p>Message: <input type="text" th:field="*{text}"/></p>
        <p><input type="submit" value="Submit"/></p>
        <p>This is a paragraph.</p>
    </form>
</div>

<div>
    <ul>
        <li th:each="text : ${texts}">
            <a th:text="${text.text}"/>,
            <a th:text="${text.time}"/>
        </li>
    </ul>
</div>

</body>
</html>